.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin: auto;
  margin-top: 20%;
}

.login-title {
  background: #f8f9fa;
  vertical-align: middle;
  font-size: large;
  color: #485461;
}
